<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <title>Login</title>
</head>
<body>
    <!-- <img src="{{url_for('static', filename='img/dolphin3.png')}}" alt="" class="dolphin_3"> -->
    <h1>Welcome to Dolphin Directory</h1>
    <!-- <img src="{{url_for('static', filename='img/dolphin3.png')}}" alt="" class="dolphin_3"> -->
    <div class="login">
        <form action="/login" method="post" class="form">
            <h2>Login</h2>
            {% with messages = get_flashed_messages(category_filter=["login"]) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Invalid Credentials</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form2">
                <div class="login_input">
                    <input type="text" name="email" class="input1" placeholder="Email">
                </div>
                <div class="login_input">
                    <input type="password" name="password" class="input1" placeholder="Password">
                </div>
            </div>
            <input type="submit" value="Sign in" class="sign_in_button">
            <p>Not a member? <a href="signup">sign up</a></p>
        </form>
    </div>
</body>
</html>