
body {
    background-image: linear-gradient(to right, rgb(58, 59, 60), grey);
    background-size: 100%;
    background-position: center;
}

/* .container {
    width: 900px;
    height: 600px;
    margin: 200px auto;
} */

.glass {
    /* backdrop-filter: blur(20px); */
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 1);
    width: 1100px;
    height:500px;
    margin: 10px auto;
    background-color: rgb(7, 122, 153);
    overflow-y: scroll;
}

.login {
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 1);
    width: 600px;
    height:800px;
    margin: 10px auto;
    background-color: rgb(7, 122, 153);
}
h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 100px;
}
.form {
    text-align: center;
    font-size: 2rem;
}
.sign_in_button {
    color: white;
    background-color:rgb(61, 64, 61);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin-top: 30px;
}
.login_input {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.input1 {
    border-radius: 10px;
    width: 200px;
    margin-right: 50px;
    align-items: center;
}
.input2 {
    border-radius: 10px;
    width: 200px;
    margin-right: 45px;
}

.nav {
    display: flex;
    justify-content:flex-end;
    margin-right: 50px;
}
.contact_dashboard {
    text-align: center;
    font-size: 2rem;
}
.logout {
    color: white;
    background-color:rgb(11, 7, 7);
    border-radius: 10px;
    width: 100px;
    height: 45px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}
.sign_in_button2 {
    color: white;
    background-color:rgb(61, 64, 61);
    border-radius: 10px;
    width: 120px;
    height: 50px;
    font-size: 25px;
    margin-top: 50px;
}
.input3 {
    border-radius: 10px;
    height: 30px;
    width: 200px;
    margin: 10px;
}
.table {
    border-collapse: separate;
    border-spacing: 0 20px;
    text-align: center;
    width: 100%;
    padding: 15px;
}
thead {
    font-size: 2rem;
    position:sticky;
}
/* tbody {
    background-color: white;
    height: 35px;
    font-size: 1.5rem;
    border-radius: 10px;
} */
.create_button {
    padding: 20px;
    display: inline-block;
    vertical-align: auto;
    margin-left: 300px;
    margin-top: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 215px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
.t_data {
    background-color: white;
    height: 35px;
    font-size: 1.5rem;
}
/* td {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
} */
.edit, .delete {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.container_glass_2 {
    width: 900px;
    height: 600px;
    margin: 200px auto;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 1);
    width: 600px;
    height:600px;
    margin: 10px auto;
    background-color: rgb(7, 122, 153);
    text-align: center;
    font-size: 2rem;
}
.create_input, .edit_input, .input1, .input3{
    border-radius: 10px;
    width: 500px;
    height: 50px;
    margin: 10px;
}
.home {
    color: white;
    background-color:rgb(11, 7, 7);
    border-radius: 10px;
    width: 100px;
    height: 45px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
}
/* .edit_input {
    border-radius: 10px;
    width: 200px;
    margin-right: 50px;
    height: 30px;
    margin: 20px;
} */
th {
    position: sticky;
    top: 0;
    background-color:grey;
    height: 60px;
}
.form2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}